
<a href="@Url.Action("Cart","Cart")" style="color:dodgerblue;font-weight:bold;text-decoration:none">
    <img src="~/Content/img/cart2.png" alt="" width="20" height="20" /> &ensp;Giỏ hàng (@Session["Tongsoluong"])
</a>