
@{
    ViewBag.Title = "None";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h5 style="text-align:center; padding-top:10px">Giỏ hàng của bạn đang trống!</h5>
    <div style="position:center; text-align:center; padding-top:20px">
        <img src="/Content/img/empty_cart.png" alt="" />
        <br />
        <a href="/HomePage/HomePageForm">
            <div class="btn btn-outline-info"><h3>Tiếp tục mua sắm</h3></div>
        </a>
    </div>
</div>

